In [1]:
from bs4 import BeautifulSoup
#from urllib.request import urlopen
import pandas as pd
import numpy as np
import requests

In [2]:
game_craig = pd.read_csv('games-features.csv')
game_id = game_craig.ResponseID

In [23]:
def get_dfs(game_id):
    dfs = []
    fake_id = []
    for i in game_id:
        try:   
            page = requests.get("https://steamcharts.com/app/" +str(i)+ "#All").text
            soup = BeautifulSoup(page,'html')
            no_player = soup.find('table',{'class':"common-table"} )
            dfs.append(pd.read_html(str(no_player))[0])
        except:
            fake_id.append(i)
            #print("No ID number " + str(i) + "!")
    return dfs,fake_id

In [24]:
# DO NOT run this multiple times!!!

#dfs = get_dfs(game_id)

#List of ResponseID's in craig's data, but not in Steam Charts
#fake_id = dfs[1]
#List of ResponseID's in both craig's data and Steam Charts
#real_id = [x for x in game_id if x not in fake_id]

#Write tables from Steam Charts into csv
#for i in range(len(real_id)):
#    dfs[0][i].to_csv('game'+str(real_id[i])+'.csv')

In [161]:
#DO NOT run this multiple times!!!

#Write new csv files to put game data together

#avg_player = []
#gain = []
#p_gain =[]
#peak_player =[]

#for i in range(len(real_id)):
#    avg_player.append(list(dfs[0][i]['Avg. Players']) )  
#    gain.append(list(dfs[0][i]['Gain']) ) 
#    p_gain.append(list(dfs[0][i]['% Gain']) ) 
#    peak_player.append(list(dfs[0][i]['Peak Players']) ) 
    
#avg_player_df = pd.DataFrame(avg_player,columns = dfs[0][0].Month)
#avg_player_df.to_csv('avg_player.csv',index=False) 

#gain_df = pd.DataFrame(gain,columns = dfs[0][0].Month)
#gain_df.to_csv('gain.csv',index=False) 

#p_gain_df = pd.DataFrame(p_gain,columns = dfs[0][0].Month)
#p_gain_df.to_csv('p_gain.csv',index=False) 

#peak_player_df = pd.DataFrame(peak_player,columns = dfs[0][0].Month)
#peak_player_df.to_csv('peak_player.csv',index=False) 

#pd.DataFrame(fake_id).to_csv('fake_id.csv',index=False)
#pd.DataFrame(real_id).to_csv('real_id.csv',index=False)

In [3]:
#We grab the information obtained from the stored csv files:

real_id = pd.read_csv('real_id.csv')
fake_id = pd.read_csv('fake_id.csv')
avg_play = pd.read_csv('avg_player.csv')
gain = pd.read_csv('gain.csv')
p_gain = pd.read_csv('p_gain.csv')
peak_player = pd.read_csv('peak_player.csv')

In [4]:
real_id

      Unnamed: 0       0
0              0      10
1              1      20
2              2      30
3              3      40
4              4      50
...          ...     ...
7826        7826  565650
7827        7827  565860
7828        7828  566060
7829        7829  567020
7830        7830  567860

[7831 rows x 2 columns]

In [5]:
peak_player

,Last 30 Days,April 2021,March 2021,February 2021,January 2021,December 2020,November 2020,October 2020,September 2020,August 2020,...,April 2013,March 2013,February 2013,January 2013,December 2012,November 2012,October 2012,September 2012,August 2012,July 2012
0,21098,21562,22140.0,21626.0,23762.0,22645.0,20908.0,17908.0,16041.0,16485.0,...,43856.0,49412.0,60134.0,65188.0,61189.0,56957.0,56053.0,55321.0,53685.0,53967.0
1,129,147,133.0,143.0,158.0,144.0,146.0,136.0,133.0,150.0,...,161.0,180.0,181.0,190.0,191.0,169.0,179.0,173.0,189.0,183.0
2,213,213,196.0,211.0,227.0,207.0,201.0,188.0,177.0,205.0,...,477.0,642.0,635.0,654.0,581.0,598.0,580.0,558.0,569.0,552.0
3,9,9,14.0,14.0,14.0,15.0,16.0,16.0,17.0,19.0,...,16.0,19.0,25.0,22.0,26.0,20.0,18.0,18.0,21.0,21.0
4,150,147,169.0,178.0,231.0,228.0,208.0,146.0,136.0,149.0,...,101.0,100.0,96.0,126.0,119.0,83.0,102.0,123.0,106.0,137.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7826,0,1,1.0,1.0,1.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7827,5,5,3.0,12.0,5.0,3.0,1.0,5.0,4.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7828,2,18,2.0,53.0,2.0,9.0,4.0,18.0,133.0,147.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7829,0,1,9.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7830,8,8,7.0,8.0,9.0,9.0,6.0,9.0,7.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN